/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
/*-header--*/
.header {
	background: #f7f7f7;
	padding: 2em 0;
}
.header-logo{
	float: left;
	width: 27%;
	/*padding-right: 3em;*/
}
.header-logo a{
	text-decoration: none;
	display: block;
}
.header-logo a:hover{
	text-decoration: none;
}
.header-logo a h1{
	color:#1ba8ed;
	margin: 0;
	font-size: 52px;
}
.top-nav{
	float:left;
	width: 70%;
	margin-top: .3em;
}
span.menu {
	display:none;
}
.top-nav ul{
	margin: 0;
	padding: 0;
}
.top-nav ul li{
	list-style-type:none;
	display:inline-block;
	padding: 1.7em 1em;
}
.top-nav ul li a{
	text-decoration:none;
	font-size: 15px;
	font-weight: 500;
	color:#222222;
	position: relative;
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	padding-bottom: 10px;
}
.top-nav ul li a:hover,
.top-nav ul li a:focus {
	outline: none;
}
.top-nav ul li a::after {
	position: absolute;
	top: 75%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #313f4a;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.top-nav ul li a:hover::after,
.top-nav ul li a:focus::after,.top-nav ul li a.active::after{
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.social-icons{
	float:right;
	width: 13%;
	padding-top: 1.8em;
}
.social-icons ul{
	margin: 0;
	padding: 0;
}
.social-icons ul li{
	list-style-type:none;
	display:inline-block;
}
.social-icons ul li a {
	background: url(../images/icons-sprite.png) no-repeat 0px 0;
	padding: 6px 15px;
	margin-right: 5px;
}
.social-icons ul li a:hover{
	background:url(../images/icons-sprite.png) no-repeat 0px -36px;
	transition:.5s all;
}
.social-icons ul li a.twit{
	background: url(../images/icons-sprite.png) no-repeat -34px 0;
}
.social-icons ul li a.twit:hover{
	background: url(../images/icons-sprite.png) no-repeat -34px -36px;
}
.social-icons ul li a.drbl{
	background: url(../images/icons-sprite.png) no-repeat -66px 0;
}
.social-icons ul li a.drbl:hover{
	background: url(../images/icons-sprite.png) no-repeat -66px -36px;
}
.social-icons ul li a.msg{
	background: url(../images/icons-sprite.png) no-repeat -99px 0;
	margin-right:0;
}
.social-icons ul li a.msg:hover{
	background: url(../images/icons-sprite.png) no-repeat -99px -36px;
}
/*-banner--*/
.banner{
	background:url(../images/banner.jpg)no-repeat 0px 0px;
	background-size:cover;
	min-height:659px;
	position:relative;
}
.banner-title{
	position:absolute;
	width: 26%;
	top: 35%;
	right: 12%;
}
.banner-title h4{
	margin: 0 0 1em;
	font-size: 25px;
	font-weight: 400;
	color:#fff;
}
.banner-title p{
	margin: 0;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 1.5em;
	color:#fff;
}
/*-banner-bottom--*/
.banner-bottom {
	background:#313f4a;
	padding: 1em .5em 1em .5em;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.banner-bottom-grids {
	max-width: 150px;
    max-height: 125px;
    vertical-align: center;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 2em;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
.banner-bottom-grids img {
    cursor: pointer;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    display: inline-block;
    margin: 1em;
    transition: all 0.5s ease 0s;
    width: 100px;
}
.banner-bottom-grids img:hover { 
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}
/*--activity-grids--*/
.activity {
	padding: 8em 0;
}
.activity h3 {
	color: #333333;
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 1em 14px;
}
.activity-grids {
	text-align: center;
	/*border-top: 10px solid #c1c1c1;*/
	padding-top: 3em;

	float: left;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;

	width: 33.33333%;
}
.activity-grids h4{
	color: #333333;
	margin: 2em 0 .5em 0;
	font-weight: 600;
	font-size: 20px;
}
.activity-grids p{
	color: #7b7b7b;
	font-weight: 300;
	font-size: 15px;
	width: 74%;
	margin: 0 auto;
	line-height: 1.7;
}
.activity-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin: 2em 0 5em 0em;
}
.activity-button:hover {
	text-decoration:none;
	background-color:#dfdfdf;
	color: #313f4a;
}
.activity-button:active {
	position:relative;
	top:1px;
}
/* ===================================== */
.col-md-4 {
  /*position: relative;*/
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
/* ===================================== */
/*--schedule--*/
.schedule h4 {
	text-align:center;
	background-color: #cccccc;
	padding: 1em 0 1em 0;
} 
.schedule h6 {
	text-align:center;
	margin: 1em 0 2em 0;
} 
.schedule-table {
	margin: 0 3em 3em 3em;
}
.schedule table {
	width: 95%;
	margin: auto;
}
.schedule table td:first-child {
	width:1%;
    white-space:nowrap;
}
/*--method-text--*/
.method-text {
	background: #f0f5f9;
	padding: 8em 0 0 0;
	position:relative;
	border-bottom: 1px solid rgb(234, 234, 234);
	box-shadow: 1px -1px rgba(223, 221, 221, 0.63);
	border-radius: 2px;
}
.method-text p{
	/*color: #b0b6bb;*/
	color: #70767b;
	font-weight: 500;
	font-size: 15px;
	width: 75%;
	margin: 0 auto;
	line-height: 1.7;
	text-align: center;
	letter-spacing: 0.5px;
}
.method-text p:before{
	content:url(../images/icon1.png)no-repeat 0px 0px;
	position:absolute;
	top: 29%;
	left: 20%;
}
.method-text p:after{
	content:url(../images/icon2.png)no-repeat 0px 0px;
	position:absolute;
	bottom: 34%;
	right: 21%;
}
.method-text h3 {
	text-align: center;
	margin: 3em 0 1.5em 0;
	color: #72787c;
	font-size: 24px;
	font-weight: 600;
	font-family: sans-serif;
}
.method-text h3 span {
	color: #b0b6bb;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	margin-left: 8px;
}
.method-text h3:before{
	position: absolute;
	bottom: 27%;
	left: 44%;
	width: 12%;
	height: 5px;
	background: #c1c1c1;
	content: '';
	opacity: 1;
}
/*--expo--*/
.expo{
	padding: 8em 0;
}
.expo-grids {
	float: left;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;

	width: 25%;
	margin-top: 15px;
}
.expo h3{
	color: #333333;
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 1em 14px;
}
.expo-grids-info{
	position:relative;
}
.expo-top {
	margin-bottom: 2em;
	border-top: 10px solid #c1c1c1;
	padding-top: 2em;
}
.expo-grids-info img{
	width:100%;
}
.caption{
	display:none;
	background: rgba(49, 63, 74, 0.86);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.caption h5{
	background: #313f4a;
	margin: 0;
	padding: 1em 0;
	font-size: 17px;
	font-weight: 400;
	color: white;
	text-align: center;
}
.caption ul {
	margin: 0;
	padding: 2em 0 0 2.2em;
}
.caption ul li{
	display:block;
	padding-bottom: 5px;
}
.caption ul li a{
	text-decoration: none;
	font-size: 14px;
	font-weight: 100;
	color: white;
	position: relative;
	letter-spacing: 1px;
}
.caption ul li a:hover{
	color:#F7D608;
	transition:.5s all;
}
.expo-grids-info:hover div.caption{
	display:block;
	transition:.5s all;
}
/*--services--*/
.services {
	padding: 1em 0 8em 0;
}
.services-grids{
	float:left;
	width: 15%;
	margin: 0 4em 0 1em;
	border-top: 10px solid #c1c1c1;
	padding-top: 2em;
}
.services-grids.five {
	margin: 0;
}
.services h3{
	color: #333333;
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 1em 14px;
}
.services-grids h5{
	margin: 0;
	font-size: 17px;
	font-weight: 400;
	color: #333333;
}
.services-grids ul {
	margin: 0;
	padding:2em 0 0 0;
}
.services-grids ul li{
	display:block;
	padding-bottom: 5px;
}
.services-grids ul li a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
	color: #8f8f8f;
	position: relative;
}
.services-grids ul li a:hover{
	color:#088AF4;
	transition:.5s all;
}
/*--footer--*/
.footer{
	background:#333a40;
	padding: 3em 0;
}
.footer-grids {
	border-bottom: 1px solid #434F59;
	padding-bottom: 5em;
}
.footer-grids-info {
	float: left;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	width: 33.3333%;
}
.footer-grids-info h5 {
	margin: 0;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
}
.footer-grids-info ul {
	margin: 0;
	padding:2em 0 0 0;
}
.footer-grids-info ul li{
	display:block;
	padding-bottom: 5px;
	color: #8f8f8f;
}
.footer-grids-info ul li a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
	color: #8f8f8f;
	position: relative;
}
.footer-grids-info ul li a:hover{
	color:#CFC10B;
	transition:.5s all;
}
.footer-grids-info form {
	width: 100%;
	text-align: right
}
.footer-grids-info  input[type="text"] {
	display: inline-block;
	border: none;
	box-shadow: 1px 1px rgb(139, 135, 135);
	margin: 2em 0 1em 0;
	outline: none;
	font-size: 15px;
	color: #999999;
	font-weight: 500;
	width: 100%;
	padding: .8em 1em;
	border-radius: 2px;
}
.footer-grids-info  input[type="email"] {
	display: inline-block;
	border: none;
	box-shadow: 1px 1px rgb(139, 135, 135);
	margin: 0;
	outline: none;
	font-size: 15px;
	color: #999999;
	font-weight: 500;
	width: 100%;
	padding: .8em 1em;
	border-radius: 2px;
}
.footer-grids-info  input[type="submit"] {
	background: #4d7ea8;
	padding: .6em 0;
	width: 33%;
	border: none;
	margin-top: 1.5em;
	font-size: 15px;
	color: #fff;
	font-weight: 400;
	outline: none;
	border-radius: 2px;
}
.footer-grids-info input[type="submit"]:hover{
	color: #fff;
	background:#CFC10B;
	transition: .5s all;
	outline: none;
}
.footer-grids-info p {
	color: #8f8f8f;
	margin: 2em 0 0;
	font-size: 15px;
	line-height: 1.7;
}
.copy-right {
	padding-top: 2em;
	text-align: center;
}
.copy-right p {
	color: #b0b0b0;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
}
.copy-right p a{
	color: #b0b0b0;
	font-size: 15px;
	font-weight: 500;
	margin-left: 3px;
	text-decoration:none;
}
.copy-right p a:hover{
	transition: .5s all;
	color:#CFC10B;
}
/*--slider-up-arrow--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 7%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*--contact--*/
.contact {
	padding: 5em 0;
}
.map iframe{
	width:100%;
	height:340px;
}
.contact h4 {
	color: #333333;
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 1em 0;
}
.contact-form {
	padding-top: 3em;
}
.contact-form-left p {
	color: #000;
	font-weight: 400;
	font-size: 15px;
	margin:0;
	line-height: 1.7;
}
.contact-form-left h5 {
	color: #333333;
	font-size: 18px;
	font-weight: 600;
	margin: 1.5em 0 .5em 0;
}
.contact-form-left a{
	color: black;
	font-weight: 400;
	font-size: 15px;
	margin:0;
}
.contact-form-left a:hover{
	color:#29c5f2;
	text-decoration:none;
	transition:.5s all;
}
.contact input[type="text"] {
	display: inline-block;
	background: none;
	border: 1px solid #000;
	box-shadow: 1px 1px rgb(139, 135, 135);
	width: 31%;
	margin: 0 0 1em 0;
	outline: none;
	font-size: 18px;
	color: #5b5b5b;
	font-weight: 500;
	font-family: opensans;
	padding: 10px 15px 10px 15px;
}
.contact input[type="email"] {
	display: inline-block;
	background: none;
	border: 1px solid #000;
	box-shadow: 1px 1px rgb(139, 135, 135);
	width: 32%;
	margin: 0 1em 1em 1em;
	outline: none;
	font-size: 18px;
	color: #5b5b5b;
	font-weight: 500;
	font-family: opensans;
	padding: 10px 15px 10px 15px;
}
.contact textarea {
	background: none;
	border: 1px solid #000;
	border-bottom: 1px solid #000;
	width: 100%;
	box-shadow: 1px 1px rgb(139, 135, 135);
	display: block;
	height: 150px;
	outline: none;
	font-size: 18px;
	color: #5b5b5b;
	font-weight: 500;
	font-family: opensans;
	resize: none;
	padding: 10px 15px 10px 15px;
}
.contact input[type="submit"]{
	background: #4d7ea8;
	border:1px solid rgba(131, 181, 223, 0.49);
	padding: .4em 0;
	width: 21%;
	margin-top: 2em;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	box-shadow: 1px 1px rgb(139, 135, 135);
	outline: none;
}
.contact input[type="submit"]:hover{
	color: #fff;
	background: #CFC10B;
	border-color: #CFC10B;
	transition: .5s all;
	outline: none;
}
/*--tables--*/
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);

	text-align: center;
}
table th:first-child {
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
/*---- responsive-design -----*/
/* 1440px and below --------------------- */
@media(max-width:1440px){
	.method-text p:before {
		top: 29%;
		left: 16%;
	}
	.method-text p:after {
		bottom: 34%;
		right: 17%;
	}
}
/* 1366px and below --------------------- */
@media(max-width:1366px){
	.method-text p:before {
		top: 28%;
		left: 15%;
	}
	.method-text p:after {
		bottom: 33%;
		right: 15.5%;
	}
}
/* 1280px and below --------------------- */
@media(max-width:1280px){
	.banner {
		min-height: 519px;
	}
	.banner-title {
		width: 33%;
		top: 32%;
	}
	.method-text p:before {
		top: 29%;
		left: 12%;
	}
	.method-text p:after {
		right: 13%;
	}
	.expo {
		padding: 6em 0;
	}
	.services {
		padding: 1em 0 6em 0;
	}
}
/* 1024px and below --------------------- */
@media(max-width:1024px){
	.social-icons {
		width: 16%;
	}
	.banner {
		min-height: 419px;
	}
	.banner-title {
		width: 40%;
		top: 35%;
		right: 9%;
	}
	.banner-title h4 {
		margin: 0 0 .5em;
	}
	.method {
		padding: 6em 0;
	}
	.method-grids p {
		width: 80%;
	}
	.method-text {
		padding: 6em 0 0 0;
	}
	.expo {
		padding: 5em 0;
	}
	.services-grids {
		margin: 0 0.5em 0 1em;
		width: 18%;
	}
	.services-grids.five {
		margin-left: 1em;
		width: 17.5%;
	}
	.services {
		padding: 1em 0 5em 0;
	}
	.footer-grids {
		padding-bottom: 4em;
	}
	.method-text {
		padding: 5em 0 0 0;
	}
	.method-text p {
		width: 90%;
	}
	.method-text p:before {
		top: 18%;
		left: 3.5%;
	}
	.method-text p:after {
		right: 4.5%;
		bottom: 37%;
	}
	.method-text h3:before {
		bottom: 31%;
	}
	.footer-grids-info:nth-child(3) {
		padding: 0;
	}
	.contact-form-right:nth-child(2) {
		padding: 0;
	}
	.contact {
		padding: 3em 0;
	}
	.contact input[type="text"] {
		width: 32%;
		margin: 0 0 0.8em 0;
		font-size: 17px;
		padding: 5px 10px;
	}
	.contact input[type="email"] {
		width: 31.5%;
		margin: 0 .5em .8em .5em;
		font-size: 17px;
		padding: 5px 10px;
	}
	.contact input[type="submit"] {
		width: 21%;
		margin-top: 1.5em;
		font-size: 15px;
		letter-spacing: 0.5px;
	}
}
/* 992px and below --------------------- */
@media (max-width: 992px) {
	.header-logo {
		width: 100%;
	}
	.top-nav {
		width: 100%;
	}
}
/* 768px and below --------------------- */
@media(max-width:768px){
	.header {
		background: #f7f7f7;
		padding: 1.3em 0 0 0;
	}
	.header-logo {
		width: 23%;
	}
	.top-nav {
		width: 5%;
		margin-left: 12.8em;
	}
	.social-icons {
		width: 21%;
	}
	span.menu {
		display: block;
		position: relative;
		cursor: pointer;
		margin: 1.5em 0 3em 0;
	}
	.top-nav  ul.nav1{
		display:none;
		padding: 0;
		margin:0;
		z-index: 999;
		position: absolute;
		width: 100%;
		left: 0;
	}
	.top-nav ul.nav1 li {
		display: block;
		text-align: center;
		background: rgba(34, 34, 34, 0.91);
		margin: 0;
		width: 100%;
		padding: .8em 0 4px 0;
	}
	.top-nav ul li a {
		color: white;
		display: block;
		padding-bottom: 6px;
		font-size: 15px;
		border: none;
		margin: 0;
	}
	.top-nav ul li a :hover{
		border:none;
	}
	.top-nav ul li a::after {
		top: 100%;
	}
	.banner {
		min-height: 312px;
	}
	.banner-title {
		width: 45%;
		top: 33%;
		right: 4%;
	}
	.banner-title p {
		overflow: hidden;
		height: 90px;
	}
	.method {
		padding: 5em 0;
	}
	.method-grids {
		float: left;
		width: 33.33%;
	}
	.method-grids p {
		width: 100%;
		font-size: 14px;
	}
	.method-grids h4 {
		margin: 1.5em 0 .5em 0;
	}
	.method-text p{
		width: 92%;
		font-size: 14px;
	}
	.method-text p:before{
		top: 20%;
		left: 0%;
	}
	.method-text p:after{
		right: 8.5%;
		bottom: 24%;
	}
	.method-text h3{
		margin: 2em 0 1em 0;
		font-size: 21px;
	}
	.method-text h3:before{
		bottom: 22%;
	}
	.expo{
		padding: 3em 0;
	}
	.expo-grids {
		width: 50%;
	}
	.activity-grids {
		width: 100%;
	}
	.caption h5 {
		padding: 0.8em 0;
		font-size: 14px;
		overflow: hidden;
		height: 41px;
		line-height: 1.7;
	}
	.caption ul {
		padding: 1em 0 0 1.5em;
	}
	.services {
		padding: 1em 0 3em 0;
	}
	.services-grids.five {
		display: none;
	}
	.services-grids {
		margin: 0 0.5em 0 1em;
		width: 22%;
	}
	.services-grids ul {
		padding: 1.5em 0 0 0;
	}
	.services-grids ul li {
		padding-bottom: 10px;
	}
	.services-grids ul li a {
		font-size: 14px;
	}
	.footer-grids-info{
		width: 37%;
		float: left;
	}
	.footer-grids-info:nth-child(2){
		width: 26%;
	}
	.footer-grids-info p {
		margin: 1em 0 0;
		font-size: 14px;
	}
	.footer-grids-info input[type="text"]{
		margin: 1em 0 1em 0;
		font-size: 14px;
		padding: .6em 1em;
	}
	.footer-grids-info input[type="email"]{
		font-size: 14px;
		padding: .6em 1em;
	}
	.footer-grids-info input[type="submit"] {
		padding: .5em 0;
		width: 36%;
		font-size: 14px;
	}
	.map iframe {
		height: 250px;
	}
	.contact-form-left {
		float: left;
		width: 37%;
	}
	.contact-form-right {
		float: right;
		width: 63%;
	}
	.contact input[type="text"] {
		width: 75%;
		font-size: 15px;
	}
	.contact input[type="email"] {
		width: 75%;
		margin: 0 .5em .8em 0em;
		font-size: 15px;
	}
}
/* 640px and below --------------------- */
@media(max-width:640px){
	.header-logo {
		width: 21%;
		margin-left: 1.5em;
	}
	.header-logo  img{
		width:100%;
	}
	.social-icons {
		width: 25%;
	}
	.top-nav {
		width: 6%;
		margin: 0 0 0 9.5em;
	}
	span.menu {
		margin: 0.8em 0 2.5em 0;
	}
	.social-icons {
		padding-top: 1.2em;
	}
	.banner {
		min-height: 260px;
	}
	.banner-title {
		top: 29%;
	}
	.banner-title p {
		height: 85px;
	}
	.contact input[type="submit"] {
		width: 24%;
	}
	.method-grids p {
		font-weight: 400;
		overflow: hidden;
		height: 69px;
	}
	.method-text {
		padding: 4em 0 0 0;
	}
	.method-text p {
		width: 85%;
		overflow: hidden;
		height: 90px;
	}
	.method-text p:before {
		top: 16%;
		left: 6%;
	}
	.method-text p:after {
		bottom: 28%;
	}
	.method-text h3:before {
		bottom: 26%;
	}
	.table-col3 {
		display: none;
	}
	.caption h5 {
		padding: .8em 0.3em;
		height: 39px;
	}
	.caption ul {
		padding: 1.5em 0 0 1.5em;
	}
	.caption ul li {
		padding-bottom: 8px;
	}
	.services-grids.four {
		display: none;
	}
	.services-grids {
		width: 29%;
	}
	.services-grids ul li a {
		font-size: 15px;
	}
	.footer-grids-info input[type="submit"] {
		width: 42%;
	}
	input[type="text"] {
		width: 65%;
	}
	input[type="email"] {
		width: 65%;
	}
	input[type="submit"] {
		font-size: 14px;
	}
	.contact h4 {
		font-size: 21px;
	}
	.map iframe {
		height: 200px;
	}
	.contact-form-left {
		float: none;
		width: 100%;
		margin-bottom: 2em;
	}
	.contact-form-right {
		float: none;
		width: 100%;
	}
	.contact input[type="text"] {
		padding: 8px 10px;
	}
	.contact input[type="email"] {
		padding: 8px 10px;
	}
	.admin-text h5 {
		font-size: 14px;
	}
}
/* 480px and below --------------------- */
@media(max-width:480px){
	.header-logo {
		width: 19%;
	}
	.social-icons {
		width: 34%;
	}
	.top-nav {
		width: 8%;
		margin: 0 0 0 7em;
	}
	.top-nav ul li a {
		font-size: 14px;
	}
	span.menu {
		margin: 4px 0 22px 0;
	}
	.social-icons {
		padding-top: 8px;
	}
	.banner {
		min-height: 204px;
	}
	.banner-title {
		width: 53%;
		top: 29%;
		right: 2%;
	}
	.banner-title p {
		height: 71px;
		letter-spacing: 0.5px;
	}
	.banner-title h4 {
		font-size: 22px;
	}
	.method-grids img{
		width: 75%;
	}
	.method-grids h4 {
		margin: 1em 0 .5em 0;
	}
	.method-text {
		padding: 3em 0 0 0;
	}
	.method-grids p {
		height: 115px;
	}
	.method-text p:before {
		top: 14%;
		left: 1%;
	}
	.method-text p:after {
		right: 3%;
		bottom: 26%;
	}
	.method-text h3:before {
		bottom: 25%;
	}
	.method-text h3 {
		font-size: 18px;
	}
	.method-text h3 span {
		font-size: 18px;
	}
	.expo {
		padding: 2em 0;
	}
	.expo h3 {
		font-size: 21px;
	}
	.services-grids.three {
		display: none;
	}
	.services-grids {
		margin: 0 2em 0 1em;
		width:40%;
	}
	.footer-grids-info {
		width: 50%;
	}
	.footer-grids-info:nth-child(3) {
		padding-left: 1em;
		width: 100%;
		margin-top: 1em;
		text-align: center;
	}
	.footer-grids-info p {
		margin: .5em auto 0;
		font-size: 14px;
		width: 77%;
	}
	.footer-grids-info ul {
		padding: 1.5em 0 0 0;
	}
	.footer-grids-info:nth-child(3) {
		width: 80%;
		text-align: left;
	}
	.footer-grids-info p {
		margin: .5em 0 0;
	}
	.footer-grids-info form {
		text-align: left;
	}
	.footer-grids-info input[type="submit"] {
		width: 37%;
	}
	.footer-grids-info:nth-child(3) {
		margin-top: 3em;
	}
	.contact {
		padding: 2em 0;
	}
	.map iframe {
		height: 150px;
	}
	.contact-form {
		padding-top: 2em;
	}
}
/* 320px and below --------------------- */
@media(max-width:320px){
	.header-logo {
		width: 31%;
		margin-left: 0;
	}
	.top-nav {
		width: 12%;
		margin: 0;
		float: right;
	}
	span.menu {
		margin: 5px 0 22px 0;
	}
	.social-icons {
		display: none;
	}
	.activity-button {
		display: none;
	}
	.banner-title h4 {
		font-size: 20px;
	}
	.banner-title {
		width: 70%;
	}
	.banner-bottom {
		padding: 1.5em 0 1em 0;
	}
	.method {
		padding: 2em 0;
	}
	.method-grids {
		width: 50%;
	}
	.method-grids img {
		width: 70%;
	}
	.method-grids h4 {
		margin: 1em 0 .5em 0;
		font-size: 17px;
	}
	.method-grids:nth-child(1) {
		padding-left:0;
	}
	.method-grids:nth-child(2) {
		padding-left:0;
	}
	.method-grids:nth-child(3) {
		display: none;
	}
	.method-grids p {
		height: 65px;
	}
	.method-text {
		padding: 2em 0 0 0;
	}
	.method-text p {
		width: 82%;
	}
	.method-text p:before {
		top: 8%;
	}
	.method-text p:after {
		bottom: 23%;
	}
	.method-text h3 {
		font-size: 16px;
	}
	.method-text h3:before {
		bottom: 26%;
	}
	.caption h5 {
		padding: 1em 0.3em;
		height: 55px;
		font-size: 16px;
	}
	.caption ul li a {
		font-size: 15px;
	}
	.services {
		padding: 1em 0 0em 0;
	}
	.services-grids {
		width: 60%;
		margin: 0 0 2em 1em;
	}
	.footer-grids-info:nth-child(2) {
		width:100%;
		padding-left:1.5em;
	}
	.footer-grids-info {
		width: 100%;
		padding: 0 0 1em 1em;
	}
	.method-text h3 span {
		font-size: 16px;
	}
	.expo h3 {
		font-size: 19px;
	}
	.expo-grids {
		width: 100%;
	}
	.services h3 {
		font-size: 21px;
	}
	.footer-grids-info:nth-child(3) {
		width: 100%;
		margin-top: 1em;
	}
	.footer-grids-info p {
		width: 100%;
	}
	.copy-right {
		padding-top: 1.5em;
	}
	.copy-right p {
		line-height: 1.7;
	}
	.footer {
		padding: 2em 0;
	}
	.contact-form-left:nth-child(1) {
		padding: 0;
	}
	.contact h4 {
		font-size: 18px;
		margin: 0 0 .5em 0;
	}
	.contact-form-left h5 {
		margin: 1em 0 .5em 0;
	}
	.contact input[type="text"] {
		padding: 6px 10px;
		width: 100%;
	}
	.contact input[type="email"] {
		padding: 6px 10px;
		width: 100%;
	}
	.contact textarea{
		font-size: 16px;
		height: 100px;
	}
	.contact input[type="submit"] {
		width: 35%;
		padding: .3em 0;
	}
	.contact h4 {
		margin: 0 0 1em 0;
	}
}
